  /* 달력 */
  .calendarBox {
    background-color: rgba(4, 4, 4, 0.6);
    border-radius: 10px;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 320px;
    padding: 5px;
  }
  
  #month {
      display: inline-block;
      position: relative;
      margin-left: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  
  #month h3 {
    color: tomato;
      font-size: 30px;
      font-weight: normal;
      margin: 0px;
  }
  
  
  .calendarBox table {
      border-collapse: collapse;
      border: none;
      width: 100%;
  }
  
  .calendarBox th {
      border: none;
      height: 10px;
      padding: 7px;
      font-weight: normal;
      text-align: center;
  }
  
  .calendarBox td {
      border: none;
      height: 30px;
      padding: 7px;
      text-align: center;
  }
  
  /* 오늘 날짜 배경색 지정 */
  .calendarBox #today {
      background-color: tomato;
      border-radius: 50%;
      color: white;
  }