body {
    position: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 390px;
    margin: 0 auto;
    background-color: black;
  }
  
  h1 {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: white;
  }
  
  /* 달력 */
  .calendarBox {
      color: white;
  }
  
  #month {
      display: inline-block;
      position: relative;
      float: left;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  
  #month h2 {
      font-size: 20px;
      font-weight: normal;
      margin: 0px;
  }
  
  .icon1 {
      display: inline-block;
      position: relative;
      float: right;
      margin-right: 10px;
      width: 20px;
      margin-top: 23px;
      margin-bottom: 20px;
  }
  
  .calendarBox table {
      border-collapse: collapse;
      border: none;
      width: 100%;
  }
  
  .calendarBox th {
      border: none;
      height: 30px;
      padding: 8px;
      font-weight: normal;
      text-align: center;
  }
  
  .calendarBox td {
      border: none;
      height: 70px;
      padding: 8px;
      text-align: center;
  }
  
  /* 오늘 날짜 배경색 지정 */
  .calendarBox #today {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10%;
      color: black;
  }