
.clockbox{
    background-color: rgba(4, 4, 4, 0.6);
    color: white;
    border-radius: 20px;
    width: 260px;
    height: 100px;
    position: fixed;
    top: 30px;
    right: 30px;
    text-align: center;
    line-height: 10px;
}
.myclock{
    color: white;
    font-size: 50px;
}