.hidden {
    display : none;
}
.logo{
    position: fixed;
    left: 10px;
    top: 2px;
    font-size: 25px;
}
a:hover {
    color : black;
    opacity: 60%;
}
a:visited {
    color : black;
  }
body {
    position: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 390px;
    margin: 0 auto;
}
.bgimg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}
.greet {
    text-align: center;
    color: black;
    font-size: 40px;
}

