.hidden {
    display : none;
}
.logo{
    position: fixed;
    left: 10px;
    top: 20px;
    font-size: 25px;
    text-shadow: 0px 0px 10px black;
}
.logo:hover{
    color : white;
    opacity: 60%;
}
.logo:visited{
    color : white;
}
a:visited {
    color : black;
}
body {
    position: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 390px;
    margin: 0 auto;
}
.bgimg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.greet {
    color: white;
    font-size: 60px;
    display: inline;
    font-family: WandohopeR;
    text-shadow: 0px 0px 10px black;
}
.quoteform{
    background-color: rgba(4, 4, 4, 0.6);
    border-radius: 10px;
    color: white;
    position: fixed;
    bottom: 20px;
    left: 20px;
    height: auto;
    width: auto;
    max-width: 350px;
    padding-top: 0.01rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}
.quoteform h3{
    text-align: center;
}
.quoteform span{
    text-align: center;
    font-size: 20px;
}
.quoteform img{
    position: absolute;
    left: 20px;
    top: -30px;
}
.weather{
    background-color: rgba(4, 4, 4, 0.6);
    border-radius: 10px;
    color: white;
    position: fixed;
    top: 120px;
    right: 20px;
    height: auto;
    width: auto;
    max-width: 400px;
    padding-top: 0.01rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
}
.quicklinkform{
    background-color: rgba(4, 4, 4, 0.6);
    border-radius: 10px;
    color: white;
    position: fixed;
    top: 100px;
    left: 20px;
    height: auto;
    width: auto;
    max-width: 400px;
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2.5rem;
}
.quicklinkform a:hover{
    color : white;
    opacity: 60%;
}
.quicklinkform a:visited{
    color : white;
}
.linksnoopy{
    width: 80px;
    position: absolute;
    left: 170px;
    bottom: -10px;
}
.ytiframe{
    background-color: rgba(4, 4, 4, 0.6);
    border-radius: 10px;
    color: white;
    position: absolute;
    top: 320px;
    left: 0px;
    height: auto;
    width: auto;
    max-width: 400px;
    padding: 1rem;
}
.greetingbox{
    position: relative;
    top: 180px;
    align-items: center;
}
.greetingment{
    position: relative;
    right: 150px;
    width: 700px;
    text-align: center;
}
.todobox{
    position: relative;
    width: auto;
    height: auto;
    padding-bottom: 100px;
    top: 250px;
}
#todo-list {
    position: relative;
    right: 90px;
    background-color: rgb(251, 249, 249, 0.9);
    list-style-image: url(../img/ul.png);
    width: 140%;
    font-size: 30px;
    word-break:break-all;
    color: black;
    border-radius: 10px;
}
#todo-list button{
    position: absolute;
    right: 5px;
    border: 0px;
    background-color: transparent;
    font-size: 25px;
    margin-left: 5px;
}
#allClear{
    position: absolute;
    right: -120px;
    margin-top: -10px;
}
#login-form{
    position: relative;
    top: 180px;
}
.onoffbox{
    color: white;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(4, 4, 4, 0.6);
    width: auto;
    position: absolute;
    right: 10px;
    top: 165px;
}
.onoffsnoopy{
    position: absolute;
    width: 50px;
    bottom: 5px;
    right: 105px;
}

.speech-bubble {
    position: absolute;
    color: black;
    right: 140px;
    bottom: 70px;
    background: white;
    border-radius: 10px;
    text-align: center;
    width: 50px;
  }
   
  .speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 70%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    border-right: 0;
    margin-left: -10px;
    margin-bottom: -10px;
  }
  

@font-face {
    font-family: 'WandohopeR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}