.hidden {
    display : none;
}
.logo{
    position: fixed;
    left: 10px;
    top: 2px;
    font-size: 25px;
}
a:hover {
    color : black;
    opacity: 60%;
}
a:visited {
    color : black;
  }
body {
    position: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 390px;
    margin: 0 auto;
    background-image: url(/img/001.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.greet {
    text-align: center;
    color: black;
    font-size: 40px;
}

